
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    color: black;
}

h1{
    font-size: 48px;
    font-weight: 100;
}

.contents1{
    font-size: 20px;
    font-weight: lighter;
}

.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}

.contents2{
    font-size: 25px;
}

.contents3{
    font-size: 14px;
    font-weight: 100;
}

.contents4{

}

.intro_bg{
    background-image:url("image/intro.jpg");
    width: 100%;
    height:718px;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}

.intro_about{
    width: 100%;
    height: 100px;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}

.header{
    display: flex;
    width: 90%;
    margin:0 auto;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}


.header_about{
    display: flex;
    width:100%;
    margin:auto;
    background: rgba(160, 178, 196, 0.459);
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.search_area{
    width: 300px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 0px;
    
}

.search_area > form > input {
    border:none;
    width: 250px;
    height: 40px;
    background: rgba(0, 0, 0, 0.0);
    color: #fff;
    padding-left: 10px;
}

.search_area>form>span{
    width: 50px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width:calc(1280px - 300px);
}


.nav2{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width:calc(1280px - 300px);
    background: rgba(160, 178, 196, 0.459);
}
.nav2>li{
    margin-left: 84px;
    margin-right: 100px;
}
.nav2>li>a{
    color: #fff;
}


.intro_text{
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
}

.intro_text>h1{
    font-size: 48px;
}

.intro_text>h1,
.intro_text>h4{
    color: #fff;
}

.represent{
    position: relative;
    top: -66px;
    display: flex;
    width: 1280px;
    background: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    margin: auto;
}

.represent>li{
    flex: 1;
    height: 132px;
}

.represent>li>div{
    text-align: center;
    margin-top: 37px;
    height: 57px;
}

.represent>li>div:not(last-child){
    border-right: 1px solid #e1e1e1;
}

.main_text0{
    width: 100%;
    height: 601px;
    margin-top: -132px;
    background: #f1f2f3;
}

.main_text0>h1{
    padding-top: 116px;
    text-align: center;
}

.main_text0>.contents1{
    text-align: center;
}

.main_text1{
    width: 100%;
    height: 601px;
    margin-top: 0px;
    background: #f1f2f3;
}
.main_text1>h1{
    padding-top: 116px;
    text-align: center;
}
.main_text1>.contents1{
    text-align: center;
}

.icons{
    display: flex;
    width: 1280px;
    height: 302px;
    margin: auto;
}

.icons>li{
    flex: 1;
    background: white;
    margin-top: 49px;
    height: 302pxs;
    text-align: center;
}

.icons>li>.icon_img{
    margin-top: 24px;
}

.icons>li:not(:last-child){
    margin-right: 20px;
}

.icon .contents4 {
    width: 180px;
    margin: auto;
    letter-spacing: -1px;
}

.more{
    width: 100px;
    height: 30px;
    background: #2f7af4;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    margin: auto;
    margin-top: 7px;
}


/*인트로 제외*/

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(image/0.jpg);
}

.container .header{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header h1 a{
    text-decoration: none;
    color: white;
    
}

.container .nav ul li{
    display: inline-block; 
    margin: 0 10px;
}

.container .nav ul li a{
    text-decoration: none; /*가로정렬*/
    color: white;
}

.container .nav ul li a:hover{
    color:  rgb(95, 40, 146);
}
/*마우스 커서 시 색상변경*/

.container .hero{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container .hero h2{
    font-size: 60px;
    margin-bottom: 20px;
    color: #fff;
}

.container .hero p{
    font-size: 22px;
    color: #fff;
}

.container .hero button{
    background: none;
    border: 2px solid rgb(95, 40, 146);
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
}

.container .hero button:hover{
    background-color: rgba(79, 31, 124, 0.692);
}

/* 인트로 */

.home ul li{
    display: inline-block; 
    margin: 0 10px;
}

.home ul li a{
    text-decoration: none;
    color: white;
}

.home ul li a:hover{
    color:  rgb(95, 40, 146);
}











